<header id="header" class="custom">
  <div class="container">
    <div class="logo text-center">
      <a href="/">
        <%= image_tag 'home/small-logo.png' %>
      </a>
    </div> 
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>FAQ</h1>              
      </div>
    </div>    
  </div>  
</header>
<div id="site-wrap">
  <section class="general-text text-padding">
  	<div class="container">
    	<div class="row">
   	    <div class="col-sm-12">
        	<div class="text-content">
            <h2>MARKETING MANAGER</h2>
        		<p>Flux is taking New York by storm and is looking for the right people to build the brand. Marketing managers will help support and grow the Flux brand and reach across many social spheres in New York. Strong candidates will have experience in social marketing and have relevant social networks in New York. Must be willing to work with tight deadlines and within a passionate team atmosphere.
            </p>
            <p class="margin-top40">Contact 
              <a href="mailto:Brett@fluxapp.com" class="highlight">Brett@fluxapp.com</a>
            </p>                        
        	</div>
          <div class="border"></div>                          
         	<div class="text-content">
            <h2>COMMUNITY MANAGER</h2>
        		<p>Do you have your pulse on New York nightlife, from the biggest upcoming shows to the trendiest new venue openings? We'd like to hear from you. Flux is growing a team of hard-driving New Yorkers who look forward to Friday night more than anyone else they know. If you want to work directly with our users and ensure everyone's night with Flux is perfect, drop us a line.
            </p>
            <p class="margin-top40">Contact
              <a href="mailto:Brett@fluxapp.com" class="highlight">Brett@fluxapp.com</a>
            </p>                        
        	</div>
          <div class="border"></div> 
          <div class="text-content">
            <h2>GRAPHIC DESIGNER</h2>
        		<p>Flux is looking for graphic designers with experience across different mediums, from apps to web and beyond. Define a brand with your vision and help us make nightlife as chic and streamlined as possible. Simplicity is elegance and we truly believe it. Let us know if you'd like to communicate that vision to our users. Candidates should have strong design background, education and experience.
            </p>
            <p class="margin-top40">Contact
              <a href="mailto:Brett@fluxapp.com" class="highlight">Brett@fluxapp.com</a>
            </p>                        
        	</div>
          <div class="border"></div> 
          <div class="text-content">
            <h2>iOS ENGINEER</h2>
        		<p>Flux is growing its engineering team and looking for top iOS developers to join the team. We're looking for candidates that are creative, driven and work excellently on a dynamic team.
            </p>
            <p class="margin-top40">Contact <a href="mailto:Brett@fluxapp.com" class="highlight">Brett@fluxapp.com</a></p>                        
        	</div>
          <div class="border"></div>  
          <div class="text-content">
        		<p>If you're someone we can't afford to live without but you don't see a job that matches your skill-set, drop us a line at
              <a href="mailto:mike@fluxapp.com" class="highlight">mike@fluxapp.com</a> and tell us why we need to give you a special look.
            </p>
        	</div>
        </div>
      </div>
    </div>    
  </section>
</div>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= image_tag 'home/footer_logo.png', :class => 'footer_logo' %>
      </div>
      <div class="col-sm-12">
        <div class="cta-content">
          <a href="#" class="btn btn-icon"><i class="fa fa-apple"></i> Download the app</a>
          <a href="#" class="btn btn-icon mobile"><i class="fa fa-mobile"></i> Text me the app</a>
        </div>                
      </div>     
      <div class="col-sm-12">
        <ul class="social-icon">
          <li><a href="https://www.facebook.com/fluxappnyc" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/FluxAppNYC" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://instagram.com/fluxapp/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="mailto:concierge@fluxapp.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>                              
      </div>  
      <div class="col-sm-12">
        <ul class="quick-links">
          <li><a href="faq.html">Faq</a></li>
          <li><a href="partner.html">Partner with Flux</a></li>
          <li><a href="jobs.html">Jobs</a></li>
          <li><a href="presskit.html">Press Kit</a></li>
          <li><a href="terms.html">Terms</a></li>
          <li><a href="http://fluxblog1.com/" target="_blank">Blog</a></li>
          <li><p class="copyright">© FLUX 2015 <a href="#">Privacy Policy</a></p></li>
        </ul>    
      </div>
      <div class="col-sm-12">
      </div>         
    </div>  
  </div>     
</footer>
