<header id="header" class="custom">
  <div class="container">
    <div class="logo text-center">
      <a href="/">
        <%= image_tag 'home/small-logo.png' %>
      </a>
    </div> 
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>FLUX FOR YOUR VENUE</h1>              
      </div>
    </div>    
  </div>  
</header>
<div id="site-wrap">
  <section class="general-text text-padding">
  	<div class="container">
    	<div class="row">
   	    <div class="col-sm-12">
        	<div class="text-content text-center">
            <h2>FLUX CONNECTS THE BEST PATRONS WITH YOUR VENUE</h2>
        		<p>Interested in partnering with FLUX?</p>
            <a href="#" class="btn btn-cta margin-top50">GET FLUX FOR YOUR VENUE</a>
        	</div>
          <div class="border"></div>
        	<div class="text-content">
        		<p>FLUX provides a better experience for your best customers while adding more value to your venue.<br/><br/>
            Never leave a good client standing outside and never watch potential customers take their business elsewhere.<br/><br/>
            FLUX helps you offer the seamless experience your clients want.</p>
        	</div>
        </div>
      </div>
    </div>    
  </section>
</div>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= image_tag 'home/footer_logo.png', :class => 'footer_logo' %>
      </div>
      <div class="col-sm-12">
      <div class="cta-content">
        <a href="#" class="btn btn-icon"><i class="fa fa-apple"></i> Download the app</a>
        <a href="#" class="btn btn-icon mobile"><i class="fa fa-mobile"></i> Text me the app</a>
      </div>                
      </div>     
      <div class="col-sm-12">
        <ul class="social-icon">
          <li><a href="https://www.facebook.com/fluxappnyc" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/FluxAppNYC" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://instagram.com/fluxapp/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="mailto:concierge@fluxapp.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>                              
      </div>  
      <div class="col-sm-12">
        <ul class="quick-links">
          <li><a href="faq.html">Faq</a></li>
          <li><a href="partner.html">Partner with Flux</a></li>
          <li><a href="jobs.html">Jobs</a></li>
          <li><a href="presskit.html">Press Kit</a></li>
          <li><a href="terms.html">Terms</a></li>
          <li><a href="http://fluxblog1.com/" target="_blank">Blog</a></li>
          <li><p class="copyright">© FLUX 2015 <a href="#">Privacy Policy</a></p></li>
        </ul>    
      </div>
      <div class="col-sm-12">
      </div>         
    </div>  
  </div>     
</footer>