
#student {
  $blue: #54657e;

  .welcome {
    width: 100%;
    height: 100px;
    background-color: $blue;

    h3 {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
      margin-top: 30px;
    }

    img {
      margin-top: 30px;
      width: 55px;
    }
  }
  .banner {
    background: url('student/student_banner.png') no-repeat center;
    background-size: 100% 100%;
    width: 100%;
    height: 700px;

    .inspire {
      padding-top: 90px;
    }

    .heart {
      padding-top: 50px;
      padding-bottom: 45px;
    }
    
    .invite {
      padding-top: 95px;
    }

    .earn {
      margin-top: 35px;
    }

    .share {
      margin-top: 30px;
    }

    .ref-link {
      background: white;
      width: 50%;
      display: inline-block;
      height: 50px;
      border-radius: 5px;
      margin-top: 40px;
      color: black;
      padding: 16px;
    }

    .social {
      margin-top: 50px;
    }

    .social-icon {
      display: inline-block;
      margin-right: 35px;
      margin-left: 35px;

      a {
        color: white;
      }
    }

    h3 {
      line-height: 1.5em;

    }
  }

  .content {
    padding: 100px 50px 50px;

    .title {
      h5 {
        color: #8e74ab;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }

      .friends {
        padding-top: 26px;
      }

      .reward {
        margin-top: 70px;
      }
    }
    
    .prize {
      background-color: #8383a2;
      width: 65px;
      height: 65px;
      border-radius: 5px;
      padding-top: 18px;
      margin: auto;
    }

    .item {
      .tooltip {
        position: absolute;
        top: -430px;
        left: -47px;
        display: none;
        // background: #FFF;

        img {
          width: 275px !important;
          margin: 0 auto;
          display: block;
        }
      }

      &:hover {
        .tooltip {
          display: block;
          opacity: 1;
        }
      }
    }

    .prize-text {
      color: #343453;
      margin-top: 70px;
    }

    .process-bar {
      background-color: #e1e1e1;
      height: 5px;
      margin-top: 97px;

      .tracked {
        background-color: #74609c;
        height: 5px;
        width: 30%;
      }
    }

    .track {
      h4 {
        margin-top: 20px;
        color: #343454;
      }

      h5 {
        color: #a1a1bc; 
        margin-top: 20px;
      }
    }
  }
}